<%- include('parts/header.ejs')%>

  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2 class="s_det">Create More Powerful Connections with Smarter Advanced Metering Infrastructure</h2><hr><br>
          </div><br>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="/public/images/01.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <p class="p_01"> 
            Everywhere we look, being connected is the norm. Keeping up with this demands better technology: smarter sensors, improved devices, faster internet, stronger security, and a network that's always reliable.<br><br>
              
            All of this and more is what our Advanced Metering Infrastructure (AMI) solution offers.

            At the core of our AMI solution is the powerful FlexNet communication network. It's a long-range radio system that forms the backbone of our solutions for Smart Cities, Smart Water, Smart Grid, Smart Lighting, and Smart Gas.

            Whether you're planning a big network or just adding new devices, our AMI solution is here to help. It fits your needs now and can grow with you. Every day, it's used by utilities and towns of all sizes to better manage their systems and finances.<br><br>
          </p>
        </div>
        <div style="font-size: 20px">
          <div class="row">
            <div class="col" style="text-align: left">
              <div style="font-size: 20px">
                <div class="row">
                  <div class="col" style="text-align: left">
                    <p>
                      Our smart solutions are flexible, dependable, and smarter at every step. 
                      They make sure you always have access to the information you need, no matter where your devices are.
                      This means you can provide the best service to your customers, no matter what.<br>
                    </p>
                  </div>
                </div>
              </div><br>
              <br><br>

              <ul><a style="color: #0072ce">The power of the network ensures:</a>
                <li ><a>Precise data assessment.</a></li>
                <li ><a>Uniform billing and expedited billing issue resolution.</a></li>
                <li ><a>Economical ownership expenses.</a></li>
                <li ><a>Backing for a variety of Smart Water IOT applications, such as Leak Detection, Pressure Regulation, Distribution automation, Demand Response, temperature monitoring, etc.</a></li>
                <li ><a>Expandability to match your evolving requirements.</a></li>
                <li ><a>Enhanced operational effectiveness via advanced data analytics.</a></li>
                <li ><a>Availability of extensive data for making well-informed choices.</a></li>
              </ul><br>
      
              <ul><a style="color: #0072ce"> Every day, our AMI solution serves more than:</a><br>
                <li>12 million water end points.</li>
                <li>7 million gas end points.</li>
                <li>19 million electricity meters.</li>
                <li>14 million combination-utility end points.</li>
              </ul>
            </div><br>
          </div>
        </div>
        <hr style="color: #e57200"><br><br><br><br>
        <div style="font-size: 20px">
          <div class="row">
            <div class="col" style="text-align: left">
              <ul><a style="color:#0072ce">Benefits to you:</a><br><br>
                <b>Operational Efficiency</b><br><br>
        
                <ul id="ul-disk">
                  <li>Timely data delivery</li>
                  <li>Access to more data to make informed decisions</li>
                  <li>Real-time management of intermittent outages</li>
                  <li>Fast, reliable remote connect and disconnect</li>
                  <li>Improves customer satisfaction
                    <ul id="ul-circle">
                      <li>More timely delivery of data</li>
                      <li>Faster system restoration</li>
                      <li>Balance supply and demand</li>
                    </ul>
                  <li>Macro-diverse point-to-multipoint design.</li>
                  <li>Low operational costs.</li>
                  <li>Manages the power grid of the future.</li>
                    <ul id="ul-circle">
                      <li>Integrate renewables.</li>
                      <li>Manage distributed generation.</li>
                    </ul>
                  <li>Manages and supports on your terms.</li>
                    <ul id="ul-circle">
                      <li>Own & operate.</li>
                      <li>Managed services: Software as a Service, Disaster recovery as a Service, Network as a Service, and Network Operations Center.</li>
                    </ul>
                </ul>
              </ul>
            </div>

            <div class="col" style="text-align: left">
              <ul><a style="color: #0072ce"> Benefits to your customers:</a><br>
                <li>Provides more informed choices on energy and water use.</li>
                <li>Bases monthly bills on actual (not estimated) usage.</li>
                <li>Saves money with energy efficiency initiatives.</li>
                <li>Resolves billing questions more efficiently.</li>
                <li>Enables fast, easy tenancy changes.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('parts/bottom.ejs')%>


