<%- include('parts/header.ejs')%>

  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2 class="s_det">Reduce Costs, Calls and Foot Traffic with Real-Time AMR Meter Reads</h2><hr><br>
          </div><br>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="" alt="">
          </div>
        </div>
        <div class="col-md-12">
          <p class="p_01"> 
            Every day, meter readers handle a flood of data, and manually entering that data can lead to errors. Ensuring accurate, timely data that can be analyzed is crucial for boosting cash flow and keeping customers satisfied.<br><br>

            With our Automatic Meter Reading (AMR) solutions, you can automatically gather consumption, diagnostic, and status data from electric, water, and gas devices. This data is then sent to a central database for billing and analysis.
                
            We're proud to offer cutting-edge SmartPoint modules, which capture and store data at residential, commercial meters, and distribution points within utility networks. <br><br>Our range of mobile, handheld, and network products enables you to retrieve data from these SmartPoints and integrate it into your information and control systems.
                
            SmartPoints are robust radio-frequency transmitters that provide two-way access to measurements and diagnostics. They're adaptable for walk-by or drive-by automated meter reading systems and offer various meter reading choices. 
            A handheld unit is available for reading SmartPoint modules and manually inputting visual readings by foot. For even more extensive coverage, our Vehicle Gateway base station (VGB) allows vehicles to read meters from miles away. 
            Once back in the office, these devices easily connect to your computers to download the data.<br><br>
                
            When you're prepared to upgrade to Advanced Metering Infrastructure (AMI), our solutions enable a seamless transition of your Automatic Meter Reading setup to our fixed-base FlexNet communication network. Discover our other intelligent infrastructure solutions as well.<br><br>
          </p><br><br>
        </div>
        <hr style="color: #e57200"><br><br>
        <div style="font-size: 20px">
          <div class="row">
            <div class="col" style="text-align: left">
              <ul><a style="color:#0072ce">Benefits to you:</a><br><br>

                <li>Lowers the cost of meter reading.</li><br>
                <li>Provides real-time billing information, reducing estimated readings and re-billing costs.</li>
                <li>Enhances employee and customer safety by reducing the number of personnel on the road and providing safer reading methods.</li>
                <li>Reduces billing errors and disputes.</li>
                <li>Enables flexible reading schedules, eliminating delays in summary billing of commercial accounts.</li>
                <li>Increases cash flow by allowing quarterly or semi-monthly accounts to be converted to monthly billing.</li>
                <li>Reduces customer complaint calls and increases customer satisfaction.</li>
                <li>Promotes energy conservation and customer savings with time-of-use consumption.</li>
              </ul>
            </div>

            <div class="col" style="text-align: left">
              <ul><a style="color:#0072ce">Benefits to your customers:</a>

                <li>Reduces billing errors.</li>
                <li>Increases confidence in service.</li>
                <li>Increases information about usage and empowers them to conserve resources and save money.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('parts/bottom.ejs')%>