<%- include('parts/header.ejs')%>

  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2 class="s_det">Making Your Meter Data Insights Simple, Relevant and Actionable</h2><hr><br>
          </div><br>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="public/images/03.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
            <p class="p_01"> 
              <a style="color:#0072ce">Making Sense of Data Made Easy:</a><br><br>

              In the world of Advanced Metering Infrastructure (AMI) and SCADA systems, utilities are dealing with way more data than before.<br><br>
              Your company might be swamped with data right now. Sorting it efficiently in a Meter Data Management (MDM) system is a priority. But the real goldmine is what you can learn from it. 
              Analyzing this info helps you fine-tune your systems and get the most out of your investments. Plus, uncovering useful insights can boost everything from how you work to how you serve customers, and even how much you earn.

              Our Solution: Just-Right Analytics

              Different utilities have different needs. Some want an MDM for simple data handling. Others are ready for advanced tools that help with important things like spotting problems before they happen, finding leaks, or managing outages.<br><br>
            </p> 
        </div>

        <div style="font-size: 20px">
          <div class="row">
            <div class="col" style="text-align: left">
              <p>
                No matter what you need, Sensus Analytics fits perfectly. 
                You only get the apps you want. And when you’re ready for more, adding extra tools is easy.
            </p>
            <ul><a style="color:#0072ce">Our set of data analytics apps:</a>

              <li>Fits your needs now, ready for the future.</li>
              <li>Designed by utility experts for utilities.</li>
              <li>User-friendly and easy to learn.</li>
              <li>Quick training, no long learning curve.</li>
              <li>Works smoothly with your current setup.</li>
              <li>Keeps your data safe and sound.</li>
            </ul>
            </div>
          </div>
        </div><br><br>
        <hr style="color: #e57200"><br><br>
        <div style="font-size: 20px">
          <div class="row">
            <div class="col" style="text-align: left">
              <div class="col" style="text-align: left">
                <ul><a style="color:#0072ce">Benefits to you:</a>

                  <li>Enables deeper, more accurate insight into operations.</li>
                  <li>Predicts conditions intelligently.</li>
                  <li>Improves decision making quality and speed.</li>
                  <li>Increases operational efficiency.</li>
                  <li>Reduces IT and operational costs.</li>
                  <li>Speeds time to market for new software.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('parts/bottom.ejs')%>