<%- include('parts/header.ejs')%>

  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2 class="s_det">Reduce Water Leaks in the Distribution System. Help Customers Optimize Water Usage.</h2><hr><br>
          </div><br>
        </div>
        <div class="col-md-6">
          <div class="left-image">
            <img src="/public/images/05.avif" alt="">
          </div>
        </div>
        <div class="col-md-6">
            <p class="p_01"> 
              Utilities lose $9.6 billion each year from leaked water alone. 
              Improved system leaks and pressure management can reduce leaks by five percent and pipe bursts by 10 percent, saving utilities up to $4.6 billion a year.<br><br>

              U.S. homeowners lose 1.25 trillion gallons of water each year due to failure to detect or repair leaks. 
              In a single home, leaks can account for an average of 10,000 gallons wasted each year-enough to fill a backyard swimming pool.<br><br>
            </p>
        </div><br><br>
        <hr style="color: #e57200"><br><br>
        <div style="font-size: 20px">
          <div class="row">
            <div class="col" style="text-align: left">
              <a style="color:#0072ce">Our solution:</a><br><br>

              We focus on technologies to monitor, manage pressure, and detect leaks.<br>
              Our smart solutions help you save water and prevent leaks effectively.

              In your water distribution network, our leak management system lets you keep an eye on things from afar. 
              We use special sensors like Permalog+ that listen for sounds to find leaks along distribution lines.<br>

              These sensors work quietly overnight when it's quiet, and send info to the utility through FlexNet. 
              With this data, you can plan maintenance better, control water pressure, and fix leaks.

              Our smart meters, together with Sensus SmartPoint modules, are like water system helpers. 
              They talk to each other, giving readings every hour instead of once a month.<br>
              This helps you understand how customers use water. These modules also catch problems like tampering, leaks, and unusual flows.<br><br><br>
            </div>
          </div>
        </div><br><br>

        <div style="font-size: 20px">
          <div class="row">
            <div class="col" style="text-align: left">
              <div class="col" style="text-align: left">
                <ul><a style="color:#0072ce">Leak Management features and capabilities:</a><br><br>

                  <li>Remote leak and violation detection.</li>
                  <li>Pinpoints leak locations via Permalog+ acoustic detection.</li>
                  <li>Sophisticated suite of alarms to better monitor and control water leaks.</li>
                  <li>Composite, zero-lead, compliant Sensus iPERL meters.</li>
                  <li>Intelligent, efficient, standards-compliant water management.</li>
                  <li>Ability to view customer usage hourly.</li>
                  <li>Collected data includes consumption, diagnostic and status measurements.</li>
                  <li>Replaces aging, leak-prone systems with new technology.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('parts/bottom.ejs')%>