<%- include('parts/header.ejs')%>

  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="section-heading">
                <h2 class="s_det">
                  Lost Water is Lost Money.<br>
                  Reduce your Apparent and Real Losses.
                </h2><hr><br>
            </div><br>
        </div>
        <div class="col-md-12">
          <p class="p_01"> 

            Tackling Non-Revenue Water

            We get it – you want to stop losing water and money. 
            Non-revenue water (NRW) can really add up, sometimes reaching 20% to 30% in North America.<br><br>

            <a style="color:#0072ce">Reasons for NRW:</a><br><br>

            * Leaks and overflowing tanks.<br>
            * Water theft and tampering.<br>
            * Not billing for water used.<br>
            * Missing meter data.<br>
            * Adjustments for leaks and unpaid bills.<br><br>

            It’s time to take control. Let’s work together to find where you’re losing water and fix it.<br><br>
            Don't let NRW drain your revenue and resources.<br><br>
          </p>
        </div>

        <div style="font-size: 20px">
          <div class="row">
            <div class="col" style="text-align: left">
              <div class="col" style="text-align: left">
                <a style="color:#0072ce">Our solution:</a><br><br>

                The first step in addressing non-revenue water is ensuring accurate meter readings. 
                From unmetered water and inaccurate billing to delayed customer leak detection resulting in higher leak forgiveness costs to unauthorized use, apparent loss can cause revenue instability. 
                Within your distribution system, water leaks, bursts and overflows also create costly problems. 
                To help you address these issues we offer a range of metering, measurement, communications and analytics solutions to support you on your non-revenue water journey from revenue assurance to real loss reduction.<br><br><br>
              </div>
            </div>
          </div>
        </div>

        <hr style="color: #e57200"><br><br><br>
        <div style="font-size: 20px">
          <div class="row">
            <div class="col" style="text-align: left">
              <div class="col" style="text-align: left">
                <ul><a style="color:#0072ce">Benefits to you:</a><br><br>

                  <li>Helps you remotely identify sources of non-revenue water via Sensus software.</li>
                  <li>Provides revenue assurance with accurate billing and enabling proactive customer service.</li>
                  <li>Alerts your utility via alarms to potential acts of unauthorized use.</li>
                  <li>Identifies areas to reduce flow rate for water leaks and bursts with pressure management.</li>
                  <li>Enables and bolsters regulatory compliance and water loss programs.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('parts/bottom.ejs')%>
        

           