<%- include('parts/header.ejs')%>
  <br>
  <div class="best-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2 class="a_us">About Us</h2><hr><br>
          </div>
        </div>
        <div class="col-md-6"><br><br>
          <div class="left-image">
            <img src="/public/images/about-us.jpg" alt="about-us">
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <p class="p_us">Who we are ?</p>
            <p> 
              At Smart Water IOT, we work to help you reach your potential. 
              How? With comprehensive solutions. Solutions that help you enhance technologies and communication networks. 
              And products and services that collect data more quickly. From anywhere in your system. 
              Because we know that timely, accurate data is vital to good resource management. 
              It’s how you stay responsive to your customers. 
              And how, together, we can make impactful connections that improve the quality of life for communities across the world.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br><br><br>
  <section class="padded-section">
    <section class="wrapper">
      <div class="gallery two-col-gallery"></div>
      <div class="container clearfix extra-pad-mobile cta-container">
        <span class="icon i_cta_balloon"></span>
        <div class="cta-content">
          <h3>Contact Us</h3>
          <p>
            Have questions? Our experienced staff can help you find the answers.<br> 
            Click below to contact us or find an office near you.
          </p>
          <a class="button" href="/contact" data-emacategory="CTA">Contact Us</a>
        </div>
      </div>
    </section>
  </section>


<%- include('parts/bottom.ejs')%>