<%- include('parts/header.ejs')%>
  <br><br>
  <div class="best-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2 class="sol1">Solutions</h2><hr><br>
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <div class="col-md-10">
              <p>
                Do more with your infrastructure. 
                Reach farther with new innovations 
                and leading technology that helps you deliver greater efficiency
                responsiveness and analytical capabilities than ever before.
              </p><br>
            </div> 
            <ul class="featured-list">
              <li ><a class="sol" href="/01">Advanced Metering Infrastructure (AMI)</a></li>
              <li ><a class="sol" href="/02">Automatic Meter Reading (AMR)</a></li>
              <li ><a class="sol" href="/03">Data Analytics</a></li>
              <li ><a class="sol" href="/04">FlexNet Communication Network</a></li>
              <li ><a class="sol" href="/05">Leak Management</a></li>
              <li ><a class="sol" href="/06">Non-Revenue Water</a></li>
            </ul><br>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="/public/images/solutions.jpg" alt="solution">
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('parts/bottom.ejs')%>