<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <p>Copyright &copy; Smart Water IOT. All rights reserved.
                <a rel="nofollow noopener" href="/" target="_blank">Smart Water IOT</a>
            </p>
          </div>
        </div>
      </div>
    </div>
</footer>